<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADA project</title>
    <script src="https://d3js.org/d3.v4.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/IsaacLeimgruber/ADA_labs_repo/master/Project/TestWebsite/template/styles/ada_style2.css">

</head>
<body>

<div id="root">
    <script type = "text/javascript" src="https://rawgit.com/IsaacLeimgruber/ADA_labs_repo/master/Project/TestWebsite/template/scripts/constants.js"></script>
    <div id="checkboxes"></div>
    <div id="sub_checkboxes"></div>

</div>

</body>

<meta charset="UTF-8">

<script type = "text/javascript" src="https://rawgit.com/IsaacLeimgruber/ADA_labs_repo/master/Project/template/scripts/containers.js"></script>
<script type = "text/javascript" src="https://rawgit.com/IsaacLeimgruber/ADA_labs_repo/master/Project/template/scripts/helpers.js"></script>
<script type = "text/javascript" src="https://rawgit.com/IsaacLeimgruber/ADA_labs_repo/master/Project/template/scripts/axis.js"></script>
<script type = "text/javascript" src="https://rawgit.com/IsaacLeimgruber/ADA_labs_repo/master/Project/template/scripts/curve.js"></script>
<script type = "text/javascript" src="https://rawgit.com/IsaacLeimgruber/ADA_labs_repo/master/Project/TestWebsite/template/scripts/main.js"></script>
</html>